<h1>log in</h1>
<form method="POST" action="/auth/login">

  <div class="field" >
    <h3>pokemons are waiting for you,</h3>
    <label>username</label>
    <input type="text" name="username"/>
  </div>

  <div class="field" >
    <h3>and your pokepass</h3>
    <label>pokepass</label>
    <input type="password" name="password"/>
  </div>

  <div class="field submit">
    <button type="submit">Login</button>
  </div>

  <div class="field reset">
    <h3>even a trainer forgets pokepass</h3>
  <button type="submit">reset pokepass</button>
</div>  

</form>
 