<h1>sign up</h1>
<form method="POST" action="/auth/signup">
  <div class="field" >
    <h3>you need a trainer-name in this poke-world</h3>
    <label for = "username">username</label>
    <input type="text" name="username"/>
  </div>
  <div class="field" >
    <h3>and a pokepass</h3>
    <label for = "password">pokepass</label>
    <input type="password" name="password"/>
  </div>

  <div class="field submit">
    <input type="submit" value ="signup">
  </div>
</form>

<img src="/images/pokemons.png" alt="awesome picture of pokemons">