<section class="signup">
<div>
  <img src="/images/SIGNUP.png" alt="signup" class="title">
    <form method="POST" action="/auth/signup">
      <div class="field" >
        <h3>you need a trainer-name<br>in this poke-world</h3>
          <label for = "username"></label>
          <input type="text" name="username" placeholder="type username"/>
        </div>
        <div class="field" >
        <h3>and a pokepass</h3>
          <label for = "password"></label>
          <input type="password" name="password" placeholder="type password"/>
      </div>
      <div class="field-submit">
        <input type="submit" value ="signup">
      </div>
    </form>
    <% include ../partials/notifications %>
    <img src="/images/pokemons.png" alt="awesome picture of pokemons" class="pokemon">
  </div>
</section>


<% include ../partials/notifications %>
