<footer class="navbar">
  <a href="/profile">profile</a>
  <a href="/trades">poke-trades</a>
  <a href="/search">poke-search</a>
  <form method="POST" action="/auth/logout">
    <input type="submit" value ="logout">
  </form>
 </footer>
