<footer>
<ul>
  <li><a href="../profile">profile</a></li>
  <li><a href="/trades">poke-trades</a></li>
  <li><a href="/search">poke-search</a></li>
  <li>
    <form method="POST" action="/auth/logout">
    <input type="submit" value ="logout">
    </form>
  </li>
</ul>
</footer>