<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>poketrade</h1>
  <img src="" alt="">
  <h3></h3>
  <button></button>
  <h3></h3>
  <button></button>
=======
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
<%-body%>
>>>>>>> 62378e9e78ad8eb56f5c60727384ddffa3c68308
</body>
</html>