<h1>¿Which Pokemon do you have?</h1>
<form action="/trades/add/my-pokemon" method="GET">
<div>
<label for="GET-pokemon"></label>
<input id="GET-pokemon" type="text" name="q">
<input type="submit" value="Search">
</div>
</form>
<% include ../partials/notifications %>
<% include ../partials/navbar.ejs %>