<h1>My trades</h1>
<h2>My Pokemon</h2>
<a href="/trades/add/my-pokemon">Add</a>
<ul>
<% console.log(trainer.my_pokemon) %>
  <% trainer.my_pokemon.forEach( pokemon => { %>
    <li><%= pokemon.name %></li>
    <form method="POST" action="/trades/<%= pokemon._id %>/my_pokemon/delete">
      <input type="submit" value ="delete">
    </form>
  <% }) %>
</ul>
<h2>Wish List</h2>
<a href="/trades/add/wish-list">Add</a>
<ul>
  <% trainer.wish_list.forEach( pokemon => { %>
    <li><%= pokemon.name %></li>
    <form method="POST" action="/trades/<%= pokemon._id %>/wish_list/delete">
      <input type="submit" value ="delete">
    </form>
  <% }) %>
</ul>
<% include ../partials/navbar.ejs %>
