<section class="home">
  <img src="/images/poketrade.png" alt="title" class="poketrade">
    <div class="link-container">
      <h3>Welcome back TRAINER<br>good to see you!!</h3>
      <a href="/auth/login">LOG IN</a>
      <!--<img src="../images/trainer.png" alt="trainer" class="img-small">-->
      <h3>new pokemon-lover?<br>Nice to meet you!!</h3>
      <a href="/auth/signup">SIGN UP</a>
      <!--<img src="../images/oak.png" alt="oak professor" class="img-small">-->
    </div>
</section>
