<section>
  <div>
    <h1>poketrade</h1>
    <img src="/public/images/Pokeball.png" alt="pokeball image">
    <h3>Welcome back TRAINER good to see you!!</h3>
    <button>log in</button>
    <h3>new pokemon-lover? Nice to meet you!!</h3>
    <button>sign up</button>
  </div>
</section>