/* ---- RESET ---- */

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ---- TYPOGRAPHY ---- */

@font-face{
  font-family: Grobold;
  font-weight: 300;
  src: url(../fonts/GROBOLD.ttf);
}

body {
  color:#232B2B;
  font-size: 15px;
  line-height: 147%;
  font-family: Grobold;
  letter-spacing: 1px;
}

/* ---- ERROR 500 ---- */
#server-error-container {
  width: 100%;
  height: 100%;
  background-image: url('../images/500.png');
  background-size: cover;
  text-align: center;
}

#server-error-title {
  color: #E9E9E9;
  padding: 20% 10% 0% 10%;
  margin: 0%;
  line-height: 2em;
}

#server-error-text {
  color: #E9E9E9;
  font-size: 1.2em;
  margin-top: 60%;
  padding: 0% 15%;
  line-height: 50px;
}

/* ---- HOMEPAGE ---- */

.auth-container {
  margin-top: 230px;
  text-align: center; 
  padding: 0px 25px 25px 25px;
}

.home {
  background-image: url("/images/flat4.png");
  background-size: cover;
}

.poketrade {
  padding: 70px 25px 0px 25px;
}

.main-link {
  background-color: #c80c06;
  border-radius: 20px;
  padding: 10px 40px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

/* ---- SIGN UP ---- */

.title {
  width: 70%;
  padding-top: 40px;
}

.auth {
  background-color: #ED403A;
  height: 100%;
  color: whitesmoke;
  text-align: center;
}

.auth-form {
  padding-top: 20px;
  line-height: 30px;
}

.sign-up-img {
  background-color: #ED403A;
  margin-top: 30px;
}

.pokemon-img {
  width: 80%;
}

.auth-btn {
  color: #386CBA;
  background-color: #FECC2F;
  border-radius: 15px;
  border: 2px solid #386CBA;
  padding: 2px 20px;
  margin-top: 10px;
}

.auth-link {
  color: #386CBA;
  background-color: #FECC2F;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #386CBA;
  padding: 9px 27px;
  margin-top: 10px;
}

.auth-notification{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.auth-notification div{
  width: 60%;
  font-size: 0.8em;
}

.form-inputs {
  border-radius: 15px;
  padding: 2% 4%;
  font-family: Grobold;
  font-size: 0.9em;
  color: grey;
}

/* ---- LOG IN ---- */

.trainer-girl, .trainer-boy  {
  width: 20%;
}

.field {
  margin-top: 3%;
}

.log-in-img {
  margin-top: 28px;
}

/* ---- PROFILE ---- */

.profile-options {
  background-color: #ED403A;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
}

.profile img {
  height: 10%;
  width: 10%;
}

.profile {
  display: block;
  padding-left: 10px;
}

/* ---- EDIT PROFILE ---- */

.edit {
  background-color: #ED403A;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.edit-title {
  height: 20%;
}

.oak {
  padding-top: 25px;
  width: 100%;
  height: 50%;
}
/* ---- ERROR MESSAGE ---- */

.alert-danger {
  color: yellow;
}

/* ---- NAV-BAR ---- */

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

.hidden {
  display: none;
}