/* ---- RESET ---- */

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Grobold;
}

img {
  width: 100%;
}

/* ---- TYPOGRAPHY ---- */

@font-face{
  font-family: Grobold;
  font-weight: 300;
  src: url(../fonts/GROBOLD.ttf);
}


body {
  color: rgb(31, 31, 31);
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- ERROR 500 ---- */
#server-error-container {
  width: 100%;
  height: 100%;
  background-image: url('../images/500.png');
  background-size: cover;
  text-align: center;
}

#server-error-title {
  color: #E9E9E9;
  padding: 10% 10% 10% 10%;
  margin: 0%;
  line-height: 2em;
}

#server-error-text {
  color: #E9E9E9;
  font-size: 1.2em;
  padding-top: 10%;
}

/* ---- HOMEPAGE ---- */

.link-container {
  margin-top: 250px;
  text-align: center; 
  padding-left: 25px;
  padding-right: 25px;
}

.home {
  background-image: url("/images/flat4.png");
  background-size: cover;
}

.poketrade {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  font-size: 1em;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 2px rgb(200, 12, 6);
  background-color: rgb(200, 12, 6);
  border: 1px solid rgb(200, 12, 6);
  border-radius: 20px;
  padding: 10px 40px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  display: block;
  margin: 10px;
}


/* ---- LOG IN ---- */

.login {
  background-color: #ED403A;
  width: 100vw;
  padding-top: 5px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
}


.login img {
  height: 50%;
  width: 50%;
  margin-top: 10px;
  position: inline-block;
}

.field {
  margin-bottom: 15px;
}

login .form {
  padding: 5px;
}

/* ---- SIGN UP ---- */

.signup {
  background-color: #ED403A;
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  text-align: center;
  padding-top: 1px;
  font-size: 15px;
}

.signup img {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}


.title {
  width: 30%;
  height: 30%;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.trainer .girl {
  margin-left: 2px;
}

.trainers {
  margin: 0 auto;
}

/* ---- PROFILE ---- */

.profile-options {
  background-color: #ED403A;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
}

.profile img {
  height: 10%;
  width: 10%;
}

.profile {
  display: block;
  padding-left: 10px;
}

/* ---- EDIT PROFILE ---- */

.edit {
  background-color: #ED403A;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.edit-title {
  height: 20%;
}

.oak {
  padding-top: 25px;
  width: 100%;
  height: 50%;
}
/* ---- ERROR MESSAGE ---- */

.alert-danger {
  color: yellow;
}

/* ---- NAV-BAR ---- */

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

.hidden {
  display: none;
}