<section>
  <h1>PokeSearch</h1>
  <p> Find out the trainers that have the Pokemon you are looking for!</p>
</section>
<section>
  <p> ¿Which Pokemon are you interested in?</p>
  <form action="/search" method="GET">
    <input id="pokemon" type="text" name="pokemon">
    <input type="submit" value="Search">
  </form>
  <% include ../partials/notifications.ejs %>
</section>
<section>
  
</section>
<footer>
  <% include ../partials/navbar.ejs %>
</footer>
