<h1>PokeSearch</h1>
<p> Find out the trainers that have the Pokemon you are looking for!</p>
<p> ¿Which Pokemon are you interested in?</p>
<form action="/search" method="GET">
<div>
<label for="GET-pokemon"></label>
<input id="GET-pokemon" type="text" name="q">
<input type="submit" value="Search">
</div>
<% include ../partials/navbar.ejs %>